@import '../../style.scss';

.findOfferCustomerMainBox {
    background-color: rgb(22, 22, 23);
    position: relative;
    width: 100vw !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;

    .logoContainer {
        display: flex;
        margin: 1%;

        img {
            width: 5vw;
            height: 5vw;
        }

        .descriptions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-left: 5vh;

            h1 {
                text-align: start;
                font-size: 3vh;
                padding: 0;
                margin: 0;
            }

            h2 {
                padding: 0;
                margin: 0;
                font-size: 2vh;
            }
        }
    }


    .form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 2%;
        left: 5vw;

        label {
            font-size: small;
        }

        input {
            display: block;
            width: 100%;
            line-height: 2rem;
            text-align: center;
            font-size: 1.5rem;
            margin-top: 1vh;
            box-sizing: border-box;
            border: none;
        }

        input::placeholder {
            font-size: 1.5rem;
            text-align: center;
        }

        .createButton {
            background-color: $accentColor;
            box-sizing: border-box;
            transition-duration: .5s;
            font-size: medium;
            border: 8px solid $accentColor;
            width: 100%;
            cursor: pointer;
        }

        .createButton:hover {
            box-sizing: border-box;
            border: 8px solid rgba(255, 255, 255, 0.8);
        }
    }
}

@media screen and (max-width: 599px) {

    .findOfferCustomerMainBox {
        display: flex;
        flex-direction: row;
        font-size: .5rem;
        justify-content: space-evenly;

        .logoContainer {
            display: flex;
            align-items: center;
            width: 60%;
            img {
                width: 8vw;
                height: 8vw;
            }

            .descriptions {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                h1 {
                    text-align: start;
                    font-size: 1.8vh;
                    padding: 0;
                    margin: 0;
                }

                h2 {
                    text-align: start;
                    padding: 0;
                    margin: 0;
                    font-size: 1.6vh;
                }
            }
        }

        .customerOfferRenderComponent {
            font-size: .5rem;
            text-align: start;
            margin-left: 0vw;
            width: 45%;
        }

        .form {
            width: 45%;
            position: relative;
            display: flex;
            flex-direction: column;

            input,
            .createButton {
                width: 86%;
                font-size: 2vw;
                line-height: 3vw;
                font-weight: 100;
                margin: 1vw;
                box-sizing: border-box;
                animation-duration: .5s;
            }


            input::placeholder {
                font-size: 2vw;
                text-align: center;
            }

            .createButton {
                padding: .5% 2% .5% 2%;
                border: none;
            }

            .createButton:hover {
                border: none;
            }
        }
    }
}

.notFound {
    margin: 5% 0 0 0;
    width: 80%;
}

.orderRendered {
    margin: 1vh 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: start !important;
    justify-content: flex-start;
    width: 100vw !important;

    .spansContainer {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        left: 5vw;
        width: 30%;
        background-color: rgba(128, 128, 128, 0.801);

        .mainInfo {
            padding: 2% 0 2% 0;
            width: 90%;
        }

        .number {
            background-color: gray;
            width: 10%;
            padding: 2% 0 2% 0;
            font-size: 2rem;
            box-sizing: border-box;
            border-right: 3px solid rgb(22, 22, 23);
        }

    }

}

@media screen and (max-width: 1199px) {
    .notFound {
        width: 100vw;
    }

    .orderRendered {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .spansContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: rgba(128, 128, 128, 0.801);
            width: 100vw;
            left: 0;

            .mainInfo {
                padding: 2% 0 2% 0;
                width: 90%;
            }

            .number {
                background-color: gray;
                width: 10%;
                padding: 2% 0 2% 0;
                font-size: 1rem;
                box-sizing: border-box;
                border-right: 3px solid rgb(22, 22, 23);
            }

        }

    }
}